# {{ ansible_managed }}

{% for path in item.paths %}
{{ path }}
{% endfor %}
{
{% if item.options is defined %}
{% for option in item.options %}
  {{ option }}
{% endfor %}
{% endif %}
{% if item.prerotate_scripts is defined %}
  prerotate
{% for script in item.prerotate_scripts %}
    {{ script }}
  endscript
{% endfor %}
{% endif %}
{% if item.postrotate_scripts is defined %}
  postrotate
{% for script in item.postrotate_scripts %}
    {{ script }}
  endscript
{% endfor %}
{% endif %}
}
